In [33]:
# Import necessary libraries
import pandas as pd

In [34]:
# Create a sample dataset
data = {
    'Name':['Nkosi','Sennzo','Nathasha','Sipho','Ayanda'],
    'Age' :[30,35,24,23,37],
    'City' :['Boksburg','Cape Town','Johannesburg','Pretoria','Brits'],
    'Salary':[50000,60000,45000,70000,55000]
}

In [35]:
# Create a dataframe from the sample data
df = pd.DataFrame(data)

In [36]:
# Display the orignal data
print("Orignal Data:")
print(df)

Orignal Data:
       Name  Age          City  Salary
0     Nkosi   30      Boksburg   50000
1    Sennzo   35     Cape Town   60000
2  Nathasha   24  Johannesburg   45000
3     Sipho   23      Pretoria   70000
4    Ayanda   37         Brits   55000

In [37]:
# Data filtering
# select rows where age is greater than 23
filtered_df = df[df['Age']>25]

In [38]:
# Data sorting 
# sort the DataFrame by salary in descending order
sorted_df = df.sort_values(by='Salary', ascending=False)

In [43]:
# Data Grouping and Aggregation
# Group data by city and calculate the average salary in each city
grouped_df = df.groupby('City')['Salary'].mean().reset_index()

In [44]:
# Display the results
print("\nFiltered Data (Age> 25):")
print(filtered_df)

Filtered Data (Age> 25):
     Name  Age       City  Salary
0   Nkosi   30   Boksburg   50000
1  Sennzo   35  Cape Town   60000
4  Ayanda   37      Brits   55000

In [45]:
print("\nGrouped and Aggregated Data (Average Salary by city):")
print(grouped_df)

Grouped and Aggregated Data (Average Salary by city):
           City   Salary
0      Boksburg  50000.0
1         Brits  55000.0
2     Cape Town  60000.0
3  Johannesburg  45000.0
4      Pretoria  70000.0

In [46]:
print("\nSorted Data(by Salary):")
print(sorted_df)

Sorted Data(by Salary):
       Name  Age          City  Salary
3     Sipho   23      Pretoria   70000
1    Sennzo   35     Cape Town   60000
4    Ayanda   37         Brits   55000
0     Nkosi   30      Boksburg   50000
2  Nathasha   24  Johannesburg   45000